# Ignore node_modules in all directories
**/node_modules

# Ignore build artifacts
backend/public
frontend/dist

# Ignore git and env files
.git
.env
.env.*

# Ignore docs and IDE
*.md
.vscode
.idea
.DS_Store

# Ignore unneeded folders
extension
shared

# But explicitly include backend and frontend
!backend
!frontend
!backend/**
!frontend/**
